@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html, body {
    margin: 0;
    padding: 0
}
html {
    scroll-behavior: smooth
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2d334f;
    overflow-x: hidden;
    background-color: #F6F7F9
}
@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1200px
    }
}
.al-heading h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    display: flex;
    align-items: center
}
.al-heading h5 .al-heading-border {
    border-bottom: 1.6px solid rgba(255, 255, 255, 0.5);
    width: 20px;
    margin-right: 10px
}
.al-heading h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 42px;
    color: white
}
.form-control {
    border-radius: 0;
    box-shadow: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(45, 51, 79, 0.25);
    padding-left: 20px;
    padding-right: 20px;
    color: #2d334f;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px
}
.form-control::placeholder {
    color: rgba(45, 51, 79, 0.5)
}
.form-control:focus, .form-control:active, .form-control:visited {
    outline: none;
    box-shadow: none
}
.form-control:focus {
    border-bottom: 1px solid #233ec8
}
input[type="text"], input[type="email"] {
    height: 50px
}
textarea {
    min-height: 150px;
    padding-top: 15px !important;
    padding-bottom: 15px !important
}
.custom-file {
    height: 50px;
    outline: none;
    box-shadow: none
}
.custom-file-input {
    height: 50px;
    outline: none;
    box-shadow: none
}
.custom-file-label {
    height: 50px;
    border-radius: 0;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    color: rgba(45, 51, 79, 0.5);
    padding-left: 20px;
    border-bottom: 1px solid rgba(45, 51, 79, 0.25)
}
.custom-file-label:after {
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 21px;
    padding-right: 21px;
    display: flex;
    align-items: center;
    content: ' ' !important;
    background-image: url("../images/ic-attachment.svg");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center
}
.btn {
    line-height: calc(70px - 2px);
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    padding-left: 40px;
    padding-right: 40px;
    outline: none;
    box-shadow: none
}
.btn img {
    margin-left: 5px
}
.btn-danger {
    background-color: #fda4b3;
    border: 1px solid #fda4b3
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger:visited {
    background-color: rgba(253, 164, 179, 0.8);
    border: 1px solid rgba(253, 164, 179, 0.8)
}
.al-header {
    background-image: radial-gradient(circle at 0 0, #4e6cdd, #233ec8);
    padding-top: 46px
}
.al-header .navbar-wrap {
    width: 100%;
    display: flex;
    justify-content: center
}
.al-header .navbar-brand {
    position: absolute
}
.al-header .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    margin-left: 30px
}
.al-header .navbar-nav .nav-item .br {
    width: 152px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25)
}
.al-header .navbar-nav .nav-item .nav-link {
    color: white;
    font-style: italic
}
.al-header .navbar-nav .nav-item .nav-link img {
    margin-left: 5px
}
.al-hero {
    padding-top: 120px
}
.al-hero .strike {
    text-decoration: line-through;
    color: rgba(255, 255, 255, 0.8)
}
.al-hero .owl-carousel .item {
    display: flex;
    align-items: center
}
.al-hero .owl-carousel .item-img-1 .item-img-main {
    width: 470px;
    position: relative;
    left: 30px
}
.al-hero .owl-carousel .item-img-1 .item-img-number {
    content: url("../images/carousel/1/number.svg");
    position: absolute;
    left: 0;
    top: 180px;
    z-index: 1;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: zoomIn;
    animation-delay: .5s
}
.al-hero .owl-carousel .item-img-1 .item-img-circle {
    content: url("../images/carousel/1/circle.svg");
    position: absolute;
    z-index: 1;
    left: 362px;
    bottom: 0;
    height: 62px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: .5s
}
.al-hero .owl-carousel .item-img-1 .item-img-rectangle {
    content: url("../images/carousel/1/rectangle.svg");
    position: absolute;
    z-index: 1;
    left: 20px;
    bottom: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInBottomLeft;
    animation-delay: .5s
}
.al-hero .owl-carousel .item-img-2 .item-img-main {
    width: 470px;
    position: relative
}
.al-hero .owl-carousel .item-img-2 .item-img-circle {
    content: url("../images/carousel/2/circle.svg");
    position: absolute;
    left: 180px;
    bottom: -29px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-2 .item-img-number {
    content: url("../images/carousel/2/number.svg");
    position: absolute;
    left: 15px;
    top: 121px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-2 .item-img-triangle {
    content: url("../images/carousel/2/triangle.svg");
    position: absolute;
    left: 10px;
    top: 250px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-3 .item-img-main {
    width: 470px;
    position: relative
}
.al-hero .owl-carousel .item-img-3 .item-img-number {
    content: url("../images/carousel/3/number.svg");
    position: absolute;
    left: 15px;
    top: 140px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-4 .item-img-main {
    width: 470px;
    position: relative;
    left: 28px
}
.al-hero .owl-carousel .item-img-4 .item-img-number {
    content: url("../images/carousel/4/number.svg");
    position: absolute;
    left: 0;
    top: 156px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-4 .item-img-triangle {
    content: url("../images/carousel/4/triangle.svg");
    position: absolute;
    left: 464px;
    top: 351px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-5 .item-img-circle {
    content: url("../images/carousel/5/circle.svg");
    position: absolute;
    bottom: -4px;
    left: 370px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-5 .item-img-number {
    content: url("../images/carousel/5/number.svg");
    position: absolute;
    left: 17px;
    top: 135px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-5 .item-img-rectangle {
    content: url("../images/carousel/5/rectangle.svg");
    position: absolute;
    left: 5px;
    bottom: 20px;
    z-index: 1
}
.al-hero .owl-carousel .item-img-5 .item-img-triangle {
    content: url("../images/carousel/5/triangle.svg");
    position: absolute;
    bottom: 150px;
    left: 435px;
    z-index: 1
}
.al-hero .owl-carousel .item-content-1 .item-content-top {
    margin-left: -95px
}
.al-hero .owl-carousel .item-content-1 ul {
    margin-top: 60px
}
.al-hero .owl-carousel .item-content-2 .item-content-top {
    margin-left: -105px
}
.al-hero .owl-carousel .item-content-2 ul {
    padding-left: 90px
}
.al-hero .owl-carousel .item-content-3 .item-content-top {
    margin-left: -60px
}
.al-hero .owl-carousel .item-content-4 .item-content-top {
    margin-left: -85px
}
.al-hero .owl-carousel .item-content-5 .item-content-top {
    margin-left: -75px
}
.al-hero .owl-carousel .item-content-top {
    position: relative
}
.al-hero .owl-carousel .item-content-top p {
    font-size: 24px;
    color: white;
    margin-bottom: 24px
}
.al-hero .owl-carousel .item-content-top h1 {
    font-weight: 400;
    font-size: 72px;
    color: white;
    line-height: normal;
    margin-bottom: 0
}
.al-hero .owl-carousel .item-content ul {
    display: flex;
    margin-top: 90px;
    padding-left: 120px
}
.al-hero .owl-carousel .item-content ul li {
    width: 50%;
    padding-right: 20px
}
.al-hero .owl-carousel .item-content ul li .al-heading p {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
    line-height: normal;
    margin-bottom: 28px;
    margin-top: 23px
}
.al-hero .owl-carousel .item-content ul li .al-heading a {
    font-style: italic;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center
}
.al-hero .owl-carousel .item-content ul li .al-heading a img {
    width: 4px;
    margin-left: 5px
}
.owl-item.active .item-img-main {
    width: 470px;
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft
}
.owl-item.active .item-content-top p {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.5s
}
.owl-item.active .item-content-top h1 {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 0.3s
}
.owl-item.active .item-content ul li:first-child {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInRight;
    animation-delay: 0.6s
}
.owl-item.active .item-content ul li:last-child {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInRight;
    animation-delay: .8s
}
@media (max-width: 575.98px) {
    .al-hero {
        padding-top: 80px
    }
    .al-hero .owl-carousel .owl-item .item {
        display: flex;
        flex-direction: column
    }
    .al-hero .owl-carousel .owl-item .item-img {
        margin-bottom: 30px
    }
    .al-hero .owl-carousel .owl-item .item-img-rectangle, .al-hero .owl-carousel .owl-item .item-img-circle, .al-hero .owl-carousel .owl-item .item-img-triangle {
        display: none
    }
    .al-hero .owl-carousel .owl-item .item-img-number {
        top: 20px;
        left: 20px
    }
    .al-hero .owl-carousel .owl-item .item-img-main {
        margin-left: 0;
        left: 0;
        width: 100%
    }
    .al-hero .owl-carousel .owl-item .item-content {
        margin-left: 0 !important
    }
    .al-hero .owl-carousel .owl-item .item-content-top {
        margin-left: 0 !important;
        padding-left: 0px
    }
    .al-hero .owl-carousel .owl-item .item-content-top h1 {
        font-size: 42px;
        line-height: normal
    }
    .al-hero .owl-carousel .owl-item .item-content ul {
        margin-top: 40px;
        padding-left: 0
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-hero {
        padding-top: 80px
    }
    .al-hero .owl-carousel .owl-item .item {
        display: flex;
        flex-direction: column
    }
    .al-hero .owl-carousel .owl-item .item-img {
        margin-bottom: 30px
    }
    .al-hero .owl-carousel .owl-item .item-img-rectangle, .al-hero .owl-carousel .owl-item .item-img-circle, .al-hero .owl-carousel .owl-item .item-img-triangle {
        display: none
    }
    .al-hero .owl-carousel .owl-item .item-img-number {
        top: 20px;
        left: 20px
    }
    .al-hero .owl-carousel .owl-item .item-img-main {
        margin-left: 0;
        left: 0;
        width: 100%
    }
    .al-hero .owl-carousel .owl-item .item-content {
        margin-left: 0 !important
    }
    .al-hero .owl-carousel .owl-item .item-content-top {
        margin-left: 0 !important;
        padding-left: 0px
    }
    .al-hero .owl-carousel .owl-item .item-content-top h1 {
        font-size: 42px;
        line-height: normal
    }
    .al-hero .owl-carousel .owl-item .item-content ul {
        margin-top: 40px;
        padding-left: 0
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-hero {
        padding-top: 80px
    }
    .al-hero .owl-carousel .owl-item .item {
        display: flex;
        flex-direction: column
    }
    .al-hero .owl-carousel .owl-item .item-img {
        margin-bottom: 30px
    }
    .al-hero .owl-carousel .owl-item .item-img-rectangle, .al-hero .owl-carousel .owl-item .item-img-circle, .al-hero .owl-carousel .owl-item .item-img-triangle {
        display: none
    }
    .al-hero .owl-carousel .owl-item .item-img-number {
        top: 20px;
        left: 20px
    }
    .al-hero .owl-carousel .owl-item .item-img-main {
        margin-left: 0;
        left: 0;
        width: 100%
    }
    .al-hero .owl-carousel .owl-item .item-content {
        margin-left: 0 !important
    }
    .al-hero .owl-carousel .owl-item .item-content-top {
        margin-left: 0 !important;
        padding-left: 0px
    }
    .al-hero .owl-carousel .owl-item .item-content-top h1 {
        font-size: 42px;
        line-height: normal
    }
    .al-hero .owl-carousel .owl-item .item-content ul {
        margin-top: 40px;
        padding-left: 0
    }
}
.al-client {
    padding-top: 80px
}
.al-client .al-heading {
    margin-bottom: 40px
}
.al-client .al-content ul {
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center
}
.al-client .al-content ul:first-child {
    margin-bottom: 45px
}
@media (max-width: 575.98px) {
    .al-client {
        padding-top: 80px
    }
    .al-client .al-content ul {
        margin-bottom: 0;
        justify-content: center
    }
    .al-client .al-content ul li {
        width: 50%;
        margin-bottom: 30px;
        text-align: center
    }
    .al-client .al-content ul li img {
        height: 25px
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-client {
        padding-top: 80px
    }
    .al-client .al-content ul {
        margin-bottom: 0;
        justify-content: center
    }
    .al-client .al-content ul li {
        width: 50%;
        margin-bottom: 30px;
        text-align: center
    }
    .al-client .al-content ul li img {
        height: 25px
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-client {
        padding-top: 80px
    }
    .al-client .al-content ul {
        margin-bottom: 0;
        justify-content: center
    }
    .al-client .al-content ul li {
        width: calc(100% / 3);
        margin-bottom: 30px;
        text-align: center
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .al-client .al-content ul li img {
        height: 35px
    }
}
.al-service {
    padding-top: 115px
}
.al-service .al-heading {
    margin-bottom: 300px
}
.al-service .al-heading h3 {
    width: 600px;
    margin-left: 30px;
    margin-top: 33px;
    margin-bottom: 0
}
.al-service .al-content {
    margin-top: -300px
}
.al-service .al-content .al-card {
    background-color: white;
    height: 100%
}
.al-service .al-content .al-card.info .al-card-heading h4 {
    border-left: 10px solid #4cd6f2
}
.al-service .al-content .al-card.warning .al-card-heading h4 {
    border-left: 10px solid #f8d596
}
.al-service .al-content .al-card.danger .al-card-heading h4 {
    border-left: 10px solid #fda4b3
}
.al-service .al-content .al-card-heading {
    padding-top: 36px
}
.al-service .al-content .al-card-heading h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    color: rgba(45, 51, 79, 0.5);
    text-transform: uppercase;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 40px
}
.al-service .al-content .al-card-content {
    padding: 0 50px 50px
}
.al-service .al-content .al-card-content p {
    font-size: 20px;
    line-height: 28px;
    color: #2d334f;
    line-height: normal;
    margin-bottom: 0
}
.al-service .al-content .al-card-content span {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #2d334f
}
.al-service .al-content .al-card:hover {
    box-shadow: 0 50px 100px 0 rgba(45, 51, 79, 0.1)
}
@media (max-width: 575.98px) {
    .al-service .al-heading {
        margin-bottom: 250px
    }
    .al-service .al-heading h3 {
        width: 100%;
        margin-left: 0
    }
    .al-service .al-content .al-card {
        margin-bottom: 30px
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-service .al-heading {
        margin-bottom: 250px
    }
    .al-service .al-heading h3 {
        width: 100%;
        margin-left: 0
    }
    .al-service .al-content .al-card {
        margin-bottom: 30px
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-service .al-content .al-card {
        margin-bottom: 30px
    }
}
.al-works {
    padding-top: 150px;
    padding-bottom: 152px
}
.al-works .al-heading {
    margin-bottom: 71px
}
.al-works .al-heading h5 {
    color: rgba(45, 51, 79, 0.5);
    margin-bottom: 33px
}
.al-works .al-heading h5 .al-heading-border {
    border-bottom: 1.6px solid rgba(45, 51, 79, 0.5)
}
.al-works .al-heading h3 {
    color: #2d334f
}
.al-works .al-content .al-works-card {
    display: flex;
    justify-content: center;
    margin-bottom: 30px
}
.al-works .al-content .al-works-card__commando .circle {
    content: url("../images/work/work-circle.svg");
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: -35px
}
.al-works .al-content .al-works-card__brex .rectangle {
    content: url("../images/work/work-rectangle-2.svg");
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 30px;
    margin-right: -3px
}
.al-works .al-content .al-works-card__brex--2 .plus {
    content: url("../images/work/work-plus.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    margin-right: 15px
}
.al-works .al-content .al-works-card__bunnycdn .rectangle {
    content: url("../images/work/work-rectangle.svg");
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 80px;
    margin-left: 5px
}
.al-works .al-content .al-works-card__recho .triangle {
    content: url("../images/work/work-triangle.svg");
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 60px;
    margin-right: -20px
}
.al-works .al-content .al-works-card-content {
    width: 100%;
    padding: 50px 65px;
    position: absolute
}
.al-works .al-content .al-works-card-content span {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    color: rgba(45, 51, 79, 0.5)
}
.al-works .al-content .al-works-card-content p {
    margin-top: 13px;
    line-height: normal;
    font-size: 23px;
    color: #2d334f
}
.al-works .al-content .btn-link {
    margin-top: 70px;
    font-style: italic;
    color: #2d334f
}
.al-works .al-content .btn-link img {
    margin-left: 5px
}
@media (max-width: 575.98px) {
    .al-works {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .al-works-card-bg img {
        width: 100%;
        height: 300px;
        object-fit: cover
    }
    .al-works-card .circle, .al-works-card .rectangle, .al-works-card .plus, .al-works-card .triangle {
        display: none
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-works {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .al-works-card-bg img {
        width: 100%;
        height: 300px;
        object-fit: cover
    }
    .al-works-card .circle, .al-works-card .rectangle, .al-works-card .plus, .al-works-card .triangle {
        display: none
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-works {
        padding-top: 80px;
        padding-bottom: 80px
    }
    .al-works-card-bg {
        width: 100%
    }
    .al-works-card-bg img {
        width: 100%;
        height: 300px;
        object-fit: cover
    }
    .al-works-card .circle, .al-works-card .rectangle, .al-works-card .plus, .al-works-card .triangle {
        display: none
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .al-works-card-bg img {
        width: 100%
    }
}
.al-about {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white
}
.al-about .al-heading {
    margin-bottom: 112px
}
.al-about .al-heading h5 {
    color: rgba(45, 51, 79, 0.5);
    margin-bottom: 33px
}
.al-about .al-heading h5 .al-heading-border {
    border-bottom: 1.6px solid rgba(45, 51, 79, 0.6)
}
.al-about .al-heading h3 {
    color: #2d334f
}
.al-about .al-heading-content {
    display: flex;
    justify-content: space-between
}
.al-about .al-heading-content .al-heading-left {
    width: 670px;
    padding-right: 200px
}
.al-about .al-heading-content .al-heading-right {
    width: 270px
}
.al-about .al-content .nav-pills {
    margin-bottom: 50px
}
.al-about .al-content .nav-pills .nav-item .nav-link {
    font-size: 20px;
    color: #2d334f;
    text-transform: capitalize;
    padding-top: 24px;
    padding-bottom: 24px;
    cursor: pointer;
    border-radius: 0;
    border-bottom: 2px solid rgba(4, 24, 39, 0.1)
}
.al-about .al-content .nav-pills .nav-item .nav-link span {
    color: rgba(4, 24, 39, 0.25);
    margin-right: 5px
}
.al-about .al-content .nav-pills .nav-item .nav-link.active {
    background-color: transparent;
    border-radius: 0;
    border-bottom: 2px solid #4cd6f2;
    color: #4cd6f2
}
.al-about .al-content .tab-content-left .tab-content-img img {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft
}
.al-about .al-content .tab-content-left .tab-content-card {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp
}
.al-about .al-content .tab-content-left .tab-content-card .tab-content-card-rectangle {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInLeft;
    animation-delay: 1.2s
}
.al-about .al-content .tab-content-left .tab-content-card .tab-content-card-triangle {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInDown;
    animation-delay: 1.2s
}
.al-about .al-content .tab-content-left .tab-content-card .tab-content-card-rectangle-2 {
    -webkit-animation-duration: 1.2s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: rotateIn;
    animation-delay: 1.2s
}
.al-about .al-content .tab-content-right .tab-content-img img {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInRight
}
.al-about .al-content .tab-content-card {
    width: 500px;
    background-color: #5571ff;
    padding: 40px 50px 46px;
    position: relative;
    margin-top: -120px
}
.al-about .al-content .tab-content-card-rectangle {
    content: url("../images/about/about-rectangle.svg");
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: -10px
}
.al-about .al-content .tab-content-card-triangle {
    content: url("../images/about/about-triangle.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: -20px
}
.al-about .al-content .tab-content-card-rectangle-2 {
    content: url("../images/about/about-rectangle-2.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 85px;
    margin-right: -20px
}
.al-about .al-content .tab-content-card h5 {
    font-size: 23px;
    color: white;
    margin-bottom: 23px
}
.al-about .al-content .tab-content-card p {
    font-size: 14px;
    line-height: 22px;
    color: white;
    margin-bottom: 0
}
@media (max-width: 575.98px) {
    .al-about .al-heading {
        margin-bottom: 40px
    }
    .al-about .al-heading-content {
        flex-direction: column
    }
    .al-about .al-heading-content .al-heading-left {
        width: 100%;
        padding-right: 0
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-img img {
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle, .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle-2, .al-about .al-content .tab-content .tab-pane .tab-content-card-triangle {
        display: none
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-about .al-heading {
        margin-bottom: 40px
    }
    .al-about .al-heading-content {
        flex-direction: column
    }
    .al-about .al-heading-content .al-heading-left {
        width: 100%;
        padding-right: 0
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-img img {
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle, .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle-2, .al-about .al-content .tab-content .tab-pane .tab-content-card-triangle {
        display: none
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-about .al-heading {
        margin-bottom: 40px
    }
    .al-about .al-heading-content {
        flex-direction: column
    }
    .al-about .al-heading-content .al-heading-left {
        width: 100%;
        padding-right: 0
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-img img {
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%
    }
    .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle, .al-about .al-content .tab-content .tab-pane .tab-content-card-rectangle-2, .al-about .al-content .tab-content .tab-pane .tab-content-card-triangle {
        display: none
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .al-about .al-content .tab-content-img img {
        width: 100%
    }
}
.al-contact {
    padding-top: 200px
}
.al-contact .al-heading h5 {
    color: rgba(45, 51, 79, 0.5);
    margin-bottom: 33px
}
.al-contact .al-heading h5 .al-heading-border {
    border-bottom: 1.6px solid rgba(45, 51, 79, 0.2)
}
.al-contact .al-heading h3 {
    color: #2d334f;
    padding-right: 20px
}
.al-contact .al-heading p {
    padding-top: 10px
}
.al-contact .al-content-left .nav {
    margin-top: 60px;
    margin-bottom: 40px
}
.al-contact .al-content-left .nav-link {
    font-size: 23px;
    color: rgba(45, 51, 79, 0.5);
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 0;
    padding-left: 0;
    margin-bottom: 20px
}
.al-contact .al-content-left .nav-link.active {
    background-color: transparent;
    color: #2d334f;
    border-left: 10px solid #fda4b3;
    padding-left: 20px
}
.al-contact .al-content-left ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0
}
.al-contact .al-content-left ul li {
    margin-bottom: 31px;
    font-size: 14px;
    line-height: 22px;
    color: #2d334f
}
.al-contact .al-content-left ul li img {
    margin-right: 16px
}
.al-contact .al-content-left ul li:last-child {
    margin-bottom: 0
}
.al-contact .al-content-right {
    padding-top: 55px
}
.al-contact .al-content-right .tab-content .tab-pane {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-name: fadeInUp;
    animation-delay: 0.2s
}
.al-contact .al-content-right form {
    padding-top: 50px
}
.al-contact .al-content-right form .form-group {
    margin-bottom: 20px
}
.al-contact .al-content-right form #uploadFile {
    display: block;
    width: 100%;
    border: none;
    background: white;
    padding: 15px 20px
}
.al-contact .al-content-right form .form-interested {
    margin-top: 60px
}
.al-contact .al-content-right form .form-interested>p:first-child {
    font-size: 23px;
    color: #2d334f;
    margin-bottom: 34px
}
.al-contact .al-content-right form .form-interested .wpcf7-checkbox .wpcf7-list-item {
    margin-bottom: 20px;
    width: 100%
}
.al-contact .al-content-right form .form-interested .wpcf7-checkbox .wpcf7-list-item .wpcf7-list-item-label {
    font-size: 14px;
    line-height: 22px;
    color: #2d334f
}
.al-contact .al-content-right form .form-interested .custom-control {
    cursor: pointer
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox {
    margin-bottom: 22px;
    padding-left: 50px
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    background-image: url("../images/ic-checkmark.svg")
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #fda4b3;
    transition: #fda4b3 .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox .custom-control-label {
    font-size: 14px;
    color: #2d334f;
    cursor: pointer
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox .custom-control-label:before {
    width: 20px;
    height: 20px;
    border-radius: 0 !important;
    border: none;
    outline: none;
    box-shadow: none;
    margin-top: -2px;
    margin-left: -7px
}
.al-contact .al-content-right form .form-interested .custom-control.custom-checkbox .custom-control-label:after {
    width: 20px;
    height: 20px;
    margin-top: -2px;
    margin-left: -7px
}
.al-contact .al-content-right form .form-submit {
    margin-top: 50px
}
@media (max-width: 575.98px) {
    .al-contact {
        padding-top: 80px
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-contact {
        padding-top: 80px
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-contact {
        padding-top: 80px
    }
}
.al-map {
    margin-top: 172px;
    position: relative;
    height: 600px
}
.al-map-left {
    width: 45%;
    height: auto;
    position: absolute;
    z-index: 2;
    padding: 100px 71px 100px 9%;
    background-image: linear-gradient(to bottom, #206aff, #254dff)
}
.al-map-left-circle {
    content: url("../images/map/map-circle.svg");
    position: absolute;
    left: 0;
    top: 0;
    margin-top: -50px
}
.al-map-left-rectangle {
    content: url("../images/map/map-rectangle.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: -10px
}
.al-map-left .al-heading {
    margin-bottom: 23px
}
.al-map-left .al-content {
    margin-bottom: 73px
}
.al-map-left .al-content:last-child {
    margin-bottom: 34px
}
.al-map-left .al-content:last-child p {
    margin-bottom: 0
}
.al-map-left .al-content p {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 23px;
    line-height: normal;
    color: white;
    margin-bottom: 20px
}
.al-map-left .al-content a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: white;
    font-style: italic
}
.al-map-left .al-content a img {
    margin-left: 5px
}
.al-map-right {
    width: 65%;
    height: auto;
    position: absolute;
    right: 0;
    display: flex
}
.al-map-right-triangle {
    content: url("../images/map/map-triangle.svg");
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 5%;
    margin-bottom: -20px
}
.al-map-right-content {
    position: absolute;
    width: 100%;
    height: 100%
}
.al-map-right-content .right p {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    color: rgba(45, 51, 79, 0.5);
    right: 10%;
    position: absolute;
    transform: rotate(90deg);
    top: 80px
}
.al-map-right-content .bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
    margin-left: 40px;
    display: flex;
    align-items: center
}
.al-map-right-content .bottom p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23px;
    color: #2d334f;
    margin-bottom: 0
}
.al-map-right-content .bottom .br {
    width: 353px;
    border-bottom: 1px solid #2d334f;
    margin-left: 30px
}
.al-map-right img {
    width: 100%
}
@media (max-width: 575.98px) {
    .al-map {
        margin-top: 80px;
        height: auto
    }
    .al-map-left, .al-map-right {
        width: 100%;
        position: unset
    }
    .al-map-left {
        padding: 40px
    }
    .al-map-left-circle, .al-map-left-rectangle {
        display: none
    }
    .al-map-right-triangle {
        display: none
    }
    .al-map-right-content {
        height: auto;
        position: unset;
        display: none
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-map {
        margin-top: 80px;
        height: auto
    }
    .al-map-left, .al-map-right {
        width: 100%;
        position: unset
    }
    .al-map-left {
        padding: 40px
    }
    .al-map-left-circle, .al-map-left-rectangle {
        display: none
    }
    .al-map-right-triangle {
        display: none
    }
    .al-map-right-content {
        height: auto;
        position: unset;
        display: none
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-map {
        margin-top: 80px;
        height: auto
    }
    .al-map-left, .al-map-right {
        width: 100%;
        position: unset
    }
    .al-map-left {
        padding: 40px
    }
    .al-map-left-circle, .al-map-left-rectangle {
        display: none
    }
    .al-map-right-triangle {
        display: none
    }
    .al-map-right-content {
        height: auto;
        position: unset;
        display: none
    }
}
.al-footer {
    padding-top: 100px;
    padding-bottom: 100px
}
.al-footer-left p {
    font-weight: 700;
    letter-spacing: 5px;
    color: #2d334f;
    text-transform: uppercase;
    margin-bottom: 0
}
.al-footer-right ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0;
    margin-bottom: 0;
    padding-bottom: 0
}
.al-footer-right ul li {
    margin-left: 50px
}
.al-footer-right ul li a {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: rgba(45, 51, 79, 0.5);
    text-decoration: none
}
.al-footer-right ul li a:hover {
    opacity: .8
}
@media (max-width: 575.98px) {
    .al-footer {
        padding-top: 80px;
        padding-bottom: 50px
    }
    .al-footer-left {
        margin-bottom: 30px
    }
    .al-footer-left p {
        text-align: center
    }
    .al-footer-right ul {
        flex-wrap: wrap;
        justify-content: center
    }
    .al-footer-right ul li {
        width: 50%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .al-footer {
        padding-top: 80px;
        padding-bottom: 50px
    }
    .al-footer-left {
        margin-bottom: 30px
    }
    .al-footer-left p {
        text-align: center
    }
    .al-footer-right ul {
        flex-wrap: wrap;
        justify-content: center
    }
    .al-footer-right ul li {
        width: 50%;
        text-align: center;
        margin-left: 0;
        margin-bottom: 30px
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .al-footer {
        padding-top: 80px;
        padding-bottom: 50px
    }
    .al-footer-left {
        margin-bottom: 30px
    }
    .al-footer-left p {
        text-align: center
    }
    .al-footer-right ul {
        flex-wrap: wrap;
        justify-content: center
    }
    .al-footer-right ul li {
        text-align: center;
        margin-left: 30px;
        margin-right: 30px
    }
}